
body{
background-color:gray;
}

header{
background-color: black;
width: 100%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
position: fixed;  
top: 0;  
left: 0;  
padding: 10px;
}

.navBar .helloThere{
color: rgb(144, 116, 206);
font-family: sans-serif;
}

.navBar a{
color: white;
text-decoration: none;
padding: 10px;
}


a:hover{
color: rgb(96, 148, 216);
}


/*from here and up, it's the top of the page and the body color of it*/

#goBackBntProjects{

background-color:rgb(144, 116, 206);
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 40px;

}

#goBackBntProjects:hover{
background-color:white;
color: black;

}

#cod1{
display: block;
margin: 0 auto;
height: 200px;
width: 300px;
}

#cod2{
display: block;
margin: 0 auto;
height: 200px;
width: 300px;
}
.title{

margin-top:170px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(137, 48, 137);
text-decoration: underline;
margin-left: 85px;

}
p {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
text-justify: auto;
margin-left: 85px;

}